.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(17, 17, 17, 0.623);
    z-index: 1000;

}

.modalContainer{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50% );
    background-color: #fff;
    padding: 50px;
    z-index: 1000;
}

.modalContainer p{
    text-align:center;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 8px ;
}